

.card-effect {
  margin-top: 2em;
  padding: 2.5em 0.5em 0.5em;
  border-radius: 0.25em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-effect p {
  text-align: center;
}

.card-effect img {
  width: 40%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body {
  padding-top: 70px;
  padding-bottom: 90px;
}
  
.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-completed {
  position: relative;
}

.timeline .timeline-completed:after {
  position: absolute;
  display: block;
  bottom: 0;
}

.timeline .timeline-completed:after {
  background-color: hsl(134, 64%, 35%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.timeline .timeline-upcoming {
  position: relative;
}

.timeline .timeline-upcoming:after {
  position: absolute;
  display: block;
  bottom: 0;
}

.timeline .timeline-upcoming:after {
  background-color: hsl(0, 77%, 54%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.timeline .timeline-achivement {
  position: relative;
}

.timeline .timeline-achivement:after {
  position: absolute;
  display: block;
  bottom: 0;
}

.timeline .timeline-achivement:after {
  background-color: hsl(0, 0%, 2%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.img-thumbnail{
  width: 164px;
  height: 164px;
  overflow: hidden;
  margin: auto;

}

a {
  text-decoration: none;
  color: rgb(28, 70, 184);
}

a:hover {
  color: rgb(194, 15, 15);
}

.logo {
  max-height: 40px;
}

.callogo {
  max-height: 25px;
}

/* .merch {
  max-height: 400px;
} */

/* .event {
  max-width: 1000px;
}

body {
  background-color: rgba(161, 164, 170, 0.404);
  height: 100%;
} */

.placement {
  max-width: 920px;
  /* background-color: rgb(156, 177, 177); */
}

#scroll-container {
  border: 1px solid black;
  border-radius: 0px;
  height: 300px;
  overflow: hidden;
  
}

#scroll-text {
  height: 100%;
  text-align: left;
  
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-120%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
  }
}

p {
  text-align: justify;
  word-wrap: break-word;
}